<%= form_for @part  do |f| %>
    <% if @part.errors.any? %>
        <div id="error_explanation">
            <h2>There were some errors:</h2>

            <ul>
                <% @part.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <br />
    <%= f.hidden_field :car_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit %>
<% end %>