<h1>Rankings</h1>

<h2>Good Car</h2>
<%= render 'good_car' %>

<h2>Good New Cars</h2>
<%= render 'good_new_cars' %>

<h2>Good Old Cars</h2>
<%= render 'good_old_cars' %>

<h2> Best Cars</h2>
<%= render 'best_cars' %>

<h2> Best_Vans </h2>
<%= render 'best_vans' %>

<h2>Best Trucks</h2>
<%= render 'best_trucks' %>