<%= link_to "See Car Ranking", cars_ratings_path %><br>

<h2>All Cars</h2>
<%= render 'all_cars' %>

<h2>New Cars</h2>
<%= render 'new_cars' %>

<h2>Old Cars</h2>
<%= render 'old_cars' %>
<br>

<h2>Car</h2>
<%= render 'cars_list' %>

<h2>Truck</h2>
<%= render 'trucks' %>

<h2>Van</h2>
<%= render 'vans' %>