<!DOCTYPE html>
<html>
  <head>
    <title>Nineteen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= link_to "Home", root_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <%= link_to "New Car", new_car_path %>
      <% end %><br>
      <% if logged_in? %>
        <%= "#{current_user.email}" %>
      <% end %><br>
    <%= yield %>
  </body>
</html>
